<%= labelled_form_for :user,
   :url => { :controller => 'account', :action => (params[:enterprise_code] ? 'activate_enterprise' : 'login') }  do |f| %>

<%= f.text_field :login,
                 :id => ( lightbox? ? 'lightbox_' : '' ) + 'user_login',
                 :onchange => 'this.value = convToValidLogin( this.value )' %>

<%= f.password_field :password,
                     :id => ( lightbox? ? 'lightbox_' : '' ) + 'user_password' %>

<% if params[:enterprise_code] %>
  <%= hidden_field_tag :enterprise_code, params[:enterprise_code] %>
  <%= hidden_field_tag :answer, params[:answer] %>
  <%= hidden_field_tag :terms_accepted, params[:terms_accepted] %>
<% end %>

<% button_bar do %>
  <%= submit_button( 'login', _('Log in') )%>
  <%= lightbox_close_button(_('Cancel')) if lightbox? %>
<% end %>

<% end %>
