<div class="activity-gallery-images-count-<%= activity.get_view_url.size %>">
  <div class='profile-activity-image'>
    <%= link_to(profile_image(activity.user, :minor), activity.user.url) %>
  </div>
  <div class='profile-activity-description'>
    <p class='profile-activity-text'><%= link_to activity.user.name, activity.user.url %> <%= describe activity %></p>
    <p class='profile-activity-time'><%= time_ago_as_sentence(activity.created_at) %></p>
    <div class='profile-wall-actions'>
      <%= link_to_function(_('Remove'), 'remove_item_wall(this, \'%s\', \'%s\', \'%s\'); return false ;' % [".profile-activity-item", url_for(:profile => params[:profile], :action => :remove_activity, :activity_id => activity.id, :view => params[:view]), _('Are you sure you want to remove this activity and all its replies?')]) if logged_in? && current_person == @profile %>
    </div>
  </div>
</div>
<div title='<%= activity.target.class.short_description %>' class='profile-activity-icon icon-new icon-newgallery'></div>
<br/>
